## Manhattan Restaurant Inspection Results
This dataset provides restaurant inspections, violations, grades and adjudication information.
1. https://data.cityofnewyork.us/Health/DOHMH-New-York-City-Restaurant-Inspection-Results/rs6k-p7g6
2. The data set is collected by Department of Health and Mental Hygiene
3. They started collecting around mid-2014 and I selected only restaurants in Manhattan due to the size of the dataset.
4. This dataset is interesting because first it is a great way to see the rating of your favorite restaurants and their inspection results. Second, I am curious how they inspect and rate the restaurants.
5. Questions to answer: 
    1. Correlation between geological area and grade?:
        Will there be a place where all the food are graded A or is there a place that no places graded A? 
    2. Correlation between food type and grade?: 
        What kind of food type has highest grade/lowest grade? What are the common type of violation? 
    3. Correlation between Date and Grade? :
        Will certain date, the inspector just got grumpy and gave bad grade?

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Part 1

In [57]:
data=pd.read_csv('DOHMH_New_York_City_Restaurant_Inspection_Results.csv')

In [58]:
data.head(5)

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,RECORD DATE,INSPECTION TYPE
0,40367728,MIMIS RESTAURANT & BAR,MANHATTAN,984,SECOND AVENUE,10022.0,2126884692,Italian,01/15/2015,Violations were cited in the following area(s).,08A,Facility not vermin proof. Harborage or condit...,Not Critical,21.0,NaN,NaN,10/02/2018,Cycle Inspection / Initial Inspection
1,41424929,AAHELI,MANHATTAN,826,9 AVENUE,10019.0,2129699010,Indian,03/15/2016,Violations were cited in the following area(s).,10F,Non-food contact surface improperly constructe...,Not Critical,7.0,A,03/15/2016,10/02/2018,Cycle Inspection / Re-inspection
2,41661008,AMURA JAPANESE RESTAURANT,MANHATTAN,1567,2ND AVE,10028.0,2127721688,Japanese,09/15/2015,Violations were cited in the following area(s).,04N,Filth flies or food/refuse/sewage-associated (...,Critical,30.0,NaN,NaN,10/02/2018,Cycle Inspection / Initial Inspection
3,50048823,POMMES FRITES,MANHATTAN,128,MACDOUGAL ST,10012.0,2126741234,Other,06/21/2018,Violations were cited in the following area(s).,04N,Filth flies or food/refuse/sewage-associated (...,Critical,28.0,NaN,NaN,10/02/2018,Cycle Inspection / Initial Inspection
4,41599272,LE MOULIN A CAFE,MANHATTAN,1439,YORK AVENUE,10075.0,2122885088,CafÃ©/Coffee/Tea,05/13/2016,Violations were cited in the following area(s).,10E,Accurate thermometer not provided in refrigera...,Not Critical,7.0,A,05/13/2016,10/02/2018,Cycle Inspection / Initial Inspection

In [59]:
data.shape

(149847, 18)

In [74]:
data.dtypes

CAMIS                      int64
DBA                       object
BORO                      object
BUILDING                  object
STREET                    object
ZIPCODE                  float64
PHONE                     object
CUISINE DESCRIPTION       object
INSPECTION DATE           object
ACTION                    object
VIOLATION CODE            object
VIOLATION DESCRIPTION     object
CRITICAL FLAG             object
SCORE                    float64
GRADE                     object
GRADE DATE                object
RECORD DATE               object
INSPECTION TYPE           object
dtype: object

## format of the data:
1. Pandas DataFrame. The data has 149847 rows and 18 columns: each row represents a restaurant and the 18 columns describe the geographical info, date of inspection, violation reason, grade, type of cuisine and etc. 
2. With different columns have different type. For example, the first column is numpy.int64; and there are numpy.float64 for the ZIPCODE column; there are also Str.

## Problems in the data:
1. There are columns that are irrelevant, select them to form different sub dataset to tackle different problems
2. The Grade has many NaN: Filter them
3. rows need to be sorted cuisine type/zipcode and categorize each type to a number so that we can run stats
4. the ZIPCODE is float, convert to int

### Right now, I couldn't answer any of my questions...

# Part 2

In [62]:
#filter out all NaN grade rows
data=data[data['GRADE'].notna()]

In [66]:
#subdataset with zip and grade to understand the relationship between geography and grade
data_zip=data[['ZIPCODE','GRADE','SCORE']]

In [68]:
#filter out zip with NaN
data_zip=data_zip[data_zip['ZIPCODE'].notna()] 
data_zip['ZIPCODE']=data_zip['ZIPCODE'].astype('int64')

In [70]:
data_zip.head() # data subset 1, to examine question 1

    ZIPCODE GRADE  SCORE
1     10019     A    7.0
4     10075     A    7.0
5     10010     A    7.0
6     10002     A    3.0
10    10033     A   11.0

In [76]:
data_zip.dtypes

ZIPCODE      int64
GRADE       object
SCORE      float64
dtype: object

In [71]:
data_food_type=data[['CUISINE DESCRIPTION','GRADE','SCORE']]#data subset 2, to examine question 2

In [73]:
data_food_type.head()

   CUISINE DESCRIPTION GRADE  SCORE
1               Indian     A    7.0
4     CafÃ©/Coffee/Tea     A    7.0
5           Vegetarian     A    7.0
6     CafÃ©/Coffee/Tea     A    3.0
10             Spanish     A   11.0

In [77]:
data_date=data[['INSPECTION DATE','GRADE','SCORE']] # data subset 3, to answer question 3

In [78]:
data_date.head()

   INSPECTION DATE GRADE  SCORE
1       03/15/2016     A    7.0
4       05/13/2016     A    7.0
5       07/02/2018     A    7.0
6       02/07/2018     A    3.0
10      02/16/2018     A   11.0

# Part 3